p{
    text-align: left;
}
.resume {
  width: 850px;            
  padding: 40px 50px;
}
.resume-header {
  text-align: center;
  margin-bottom: 20px;
}

.resume-header h1 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.resume-header p {
  font-size: 14px;
  font-style: normal;
  margin-top: 6px;
}

.resume-header a {
  color: inherit;
  text-decoration: underline;
}

section {
  margin-top: 18px;
}

section h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  margin-bottom: 8px;
}

article {
  margin-bottom: 10px;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

article h3 {
  font-size: 15px;
  font-weight: bold;
}

article span {
  font-size: 14px;
}

article p {
  font-size: 14px;
}

article em {
  font-style: italic;
}

ul {
  margin-top: 4px;
  margin-left: 18px;
  list-style-position: inside;
  padding-left: 0;
}

li {
  font-size: 14px;
  margin-bottom: 3px;
}


.coursework ul,
.skills ul {
  columns: 2;
  column-gap: 40px;
}

.coursework li,
.skills li {
  break-inside: avoid;
}

.skills li {
  list-style-type: none;
  margin-left: 0;
}
.projects article {
  margin-bottom: 12px;
}
.projects li{
    text-align: left;
}
footer p{
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #3391fd;
    color: white;
  }
  